<nav>
   <h2>OUR SERVICES</h2>
   <div class="dropdown">
      <div class="nicons">
         <img src="/img/picon.svg" width="40px" onclick="menu()">
      </div>
      <div class="nlist">
        <ul>
         <a href="profile"><li>Profile</li></a>
         <a href="orders"><li>Orders</li></a>
         <a href="#"><li>Logout</li></a>
        </ul>
      </div>
   </div>
</nav>
