<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/hstyle.css">
    <link rel="stylesheet" href="css/navstyle.css">
    <script src="js/nav.js"></script>
    </head>
    <body>
       {{> navbar}}
        <div class="cont">
        <div class="items">
            <div class="icons">
           <img src="img/air-conditioner.svg" width="100px">
            </div>
            <div class="name">
            <a href="service"><h3>AIR CONDITIONER</h3> </a>
            </div>
        </div>
        <div class="items">
            <div class="icons">
           <img src="img/fridge.svg" width="100px">
            </div>
            <div class="name">
            <h3>FRIDGE</h3>
            </div>
        </div>
        <div class="items">
            <div class="icons">
           <img src="img/washing-machine.svg" width="100px">
            </div>
            <div class="name">
            <h3>WASHING MACHINE</h3>
            </div>
        </div>
        </div>
    </body>
</html>